$primary: #ffd700;

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$navbar-item-color: $primary;

$orange: orange;
$orange-invert: findColorInvert($orange);

$custom-colors: (
    "orange": (
        $orange,
        $orange-invert,
    ),
    "cyan": (
        $cyan,
        findColorInvert(cyan),
    ),
    "purple": (
        $purple,
        findColorInvert($purple),
    ),
);

$scheme-main: #b0cce3;
$scheme-main-bis: darken($scheme-main, 2%);
$scheme-main-ter: darken($scheme-main, 4%);
//$scheme-invert: $white;
//$scheme-invert-bis: $white-bis;
//$scheme-invert-ter: $white-ter;

//$text: $grey-dark;
//$text-invert: findColorInvert($text);
//$text-light: darken($text, 10%);
//$text-strong: darken($text, 20%);

$card-background-color: lighten($scheme-main, 10%);

@import "~bulma/sass/utilities/derived-variables";

//$menu-hover: lighten($primary, 10%);

//$navbar-item-hover-color: $menu-hover;
